apiVersion: v1
kind: Service
metadata:
  name: {{ .appName }}
  namespace: {{ .namespace }}
  labels:
    app: {{ .appName }}
    team: {{ .team }}
spec:
  selector:
    app: {{ .appName }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
{{ if .enableIngress -}}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .appName }}
  namespace: {{ .namespace }}
spec:
  rules:
    - host: {{ .ingressHost | default (printf "%s.example.com" .appName) }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .appName }}
                port:
                  number: 80
{{- end }}
